.cart-section {
    padding: 40px 0;
    margin-bottom: 38px;
    color: #17191B;
    margin: auto;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #8B939A;
  }
  
td, th {
    text-align: center;
    padding: 8px;
    border: 1px solid #8B939A;
}

#first {
  background: #8B939A;
  color: white;
  font-size: 18px;
}

tr {
    background-color: #CACED1;
    text-align: center;
}

h2 {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  margin: 5px 0 20px 0;
  color: #17191B;
}

container {
    text-align: center;
    color: #424242;
}

h1 {
  font-size: 26px;
  font-weight: 600;
  color: #17191B;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 50px 0 20px 0;
}


