<h1 *ngIf="carts.length <= 0" id="noAdded">Nema porudžbina!</h1>

<section class="cart-section" *ngIf="carts.length > 0">
  <div class="container">
      <h2>Porudžbine</h2>
      <div *ngIf="carts">
      <table>
      <tr id="first">    
          <th>Ime i prezime</th>
          <th>Broj telefona</th>
          <th>Adresa</th>
          <th>Datum kreiranja porudžbine</th>
          <th>Ukupna cena</th>
          <th>Proizvodi</th>
      </tr>
      <tr *ngFor="let cart of carts">
          <td>{{ cart.name }}</td>
          <td>{{ cart.phone }}</td>
          <td>{{ cart.address }} <br> {{ cart.city }} <br> {{ cart.postalCode }}</td>
          <td>{{ stringAsDate(cart.createdAt) | date:'dd-MM-yy HH:mm:ss' }}</td>
          <td>{{ cart.subTotal }}</td>
          <td>
            <tr *ngFor='let item of cart.items'>
              Proizvod: {{ item.name }} <br>
              Količina: {{ item.quantity }} <br>
              Cena: {{ item.price }} <br><br>
            <tr>
          </td>
      </tr>
      </table><br>
      </div>
  </div>
</section>

