<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form" (submit)="onSaveCourse()" *ngIf="!isLoading">
        <mat-form-field class="example-full-width">
            <mat-label>Naziv</mat-label>
            <input matInput 
            formControlName="name" required>
            <mat-error *ngIf="form.get('name')!.hasError('required')">Unesite naziv radionice.</mat-error>
        </mat-form-field>
    
        <div>
            <button mat-stroked-button type="button" (click)="filePicker.click()">Izaberite sliku radionice</button>
            <input type="file" #filePicker (change)="onImagePicked($event)" required>
        </div>
        <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image')!.valid">
            <img [src]="imagePreview" [alt]="form.value.name">
        </div>

        <mat-form-field>
            <textarea matInput 
            cols="30" rows="5" placeholder="Opis" formControlName="description" required>
            </textarea>
            <mat-error *ngIf="form.get('description')!.hasError('required')">Unesite opis radionice.</mat-error>
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
            <mat-label>Cena</mat-label>
            <input matInput type="number" min="0" formControlName="price" required>
            <mat-error *ngIf="form.get('price')!.hasError('required')">Unesite cenu radionice.</mat-error>
        </mat-form-field>
        
        <button 
        mat-raised-button 
        color="accent" type="submit">Potvrdi</button>
    </form>
</mat-card>
