<section>
    <div class="imgBx">
      <img src="assets/images/Me.png">
    </div>
    <div class="contentBx">
      <div class="formBx">
        <h2>O meni</h2>
        <div class="inputBx">
        <span>ZDRAVO svima,
            ako želim da se predstavim jednom rečju, to bi bila (bez sumnje) reč IGRA!
            Volim da se igram, volim da se smejem! Volim pravila, ali sam veoma radosna, srećna, smešna osoba :)
            Zovem se Neda Popović, rođena sam u Novom Sadu, živim u Novom Sadu, imam plavu kosu, zelene oči, 
            nisam baš visoka, i mršava sam. Profesionalno sam se bavila kajakom oko 20 godina.
            Sada sam učitelj joge, leteće joge i akrobacije.
            Po zanimanju sam magistar sociologije, ali sam prestala da predajem u srednjoj školi.      
            Ponosna sam majka četvoro dece, dve devojčice, dva dečaka :)))) Znam da je to mnogo :D
            Takođe, ja sam jedna srećna supruga :)
            
            Zaista sam ljubitelj prirode. Volim planinarenje, obožavam planine, rodnu reku Dunav, volim vetar, sunce, čak i kišu!
            
            Ok, dosta o meni :)</span>
        </div >
      </div>
    </div>
  </section>
  <hr>
