.example-card {
    max-width: 350px;
    display: inline-block;
    margin: 20px;
    background-color: #ced4da;
    color: #424242;
  }

.priceP {
    text-align: center;
    font-size: 20px;
}

#noAdded {
  text-align: center;
  padding-top: 20px;
}

#main {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.button {
  background-color: #424242;
  color: #dddddd;
}

mat-spinner {
  margin: auto;
}

.course-image {
  width: 100%;
}

.course-image img {
  width: 100%;
}

mat-paginator {
  margin-top: 1rem;
}