<app-spinner *ngIf="isLoading"></app-spinner>
<div *ngIf="!isLoading" id="center">
  <mat-card class="example-card" *ngFor="let course of courses">
  <mat-card-content>
    <p id="main">
      {{ course.name }}
    <p>
  </mat-card-content>

  <div class="flip-box">
    <mat-card-content class="flip-box-inner">
      <div class="flip-box-front">
        <img [src]="course.imagePath" [alt]="course.name">
      </div>
      <div class="flip-box-back">
        <p>{{ course.description }}</p>
      </div>
    </mat-card-content>
  </div>

  <mat-card-content>
    <p class="priceP">
      {{ course.price }} RSD
    </p>
  </mat-card-content>

  <button type="button" class="cart-btn" (click)="addToCart(course)" *ngIf="!userIsAdmin">Dodaj u korpu</button>

  <mat-card-actions *ngIf="userIsAdmin">
    <a mat-button class="button" [routerLink]="['/izmeni-kurs', course._id]">Uredi</a>
    <button mat-button class="button" (click)="onDelete(course._id)">Obriši</button>
  </mat-card-actions>
  
</mat-card>

<p *ngIf="courses.length <= 0" id="noAdded">Nema dodatih radionica!</p>
</div>
