<header id="showcase">
    <h1>Aerofit</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi officiis ipsum officia numquam expedita ullam.</p>
    <a href="#kupi-odmah" class="button">Kupi odmah</a>
</header>

<div id="kupi-odmah">

  <section id="c">
    <div class="card" style="width: 22rem;">
      <img class="card-img-top" src="../../assets/images/Products.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Online prodavnica</h5>
        <a href="online-prodavnica" class="btn btn-primary">Vidi proizvode</a>
      </div>
    </div>
  </section>

  <section id="b">
    <div class="card" style="width: 22rem;">
      <img class="card-img-top" src="../../assets/images/Workouts.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Treninzi</h5>
        <a href="treninzi" class="btn btn-primary">Vidi treninge</a>
      </div>
    </div>
  </section>

  <section id="a">
    <div class="card" style="width: 22rem;">
      <img class="card-img-top" src="../../assets/images/Courses.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Radionice</h5>
        <a href="kursevi" class="btn btn-primary">Vidi radionice</a>
      </div>
    </div>
  </section>

</div>
<section id="section-a">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit minus impedit maxime, quae soluta quis cumque perferendis! Doloribus quaerat, placeat iste facere, aspernatur ex cum veritatis laudantium, officia, non porro exercitationem incidunt quis dolore? Officia ex accusamus expedita optio, voluptatem minus? In maiores omnis aperiam earum ab molestiae beatae laborum blanditiis incidunt, delectus dolor, id voluptates optio aspernatur aliquam saepe atque labore? Tempore reprehenderit ab ipsam perspiciatis ut, provident perferendis sapiente in numquam blanditiis, enim, illo error nulla incidunt quos quidem ratione repellat ipsa molestias veritatis? Mollitia, fugit dolore commodi porro repudiandae atque, eos, ipsum quam culpa fuga deleniti quae.</p>
</section>
