<app-spinner *ngIf="isLoading"></app-spinner>

<div *ngIf="!isLoading">
  <header id="showcase">
    <h1>Aerofit</h1>
    <p>Dobrodošli u svet letećeg vežbanja!</p>
    <a href="#more" class="button">&nbsp;Saznaj više</a>
</header>

<div id="more">
<hr>


<div id="text">
  Dobrodošli u svet letenja! <br><br>
  Vežbanje u vazduhu sa elementima restorativne joge, odvija se u elastičnom platnu, koje na najsuptilniji način podržava
  zglobove, jača muskulaturu i dubinski isteže sve ligamente i pripoje. Daje trenutni osećaj olakšanja i opuštanja. <br>
  U ponudi je i napredni program aero akrobacije i fitnes u vazduhu. <br><br>
  Ovo je mesto na kojem možete kupiti sve potrebne rekvizite za celokupni AERO program (platno, obruč, dodaci itd.)
</div>
</div>
</div>
