* {
  margin:0;
  padding:0;
}

body {
  margin:0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  line-height:1.6;
}

#showcase {
  background-image: url('../../assets/images/Wallpaper.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  color: #845357;
}

#showcase h1 {
  font-size: 50px;
  line-height: 1.2;
  margin-left: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

#showcase p {
  font-size: 24px;
  margin-left: 30px;
  color: white;
}

#showcase .button {
  font-size: 21px;
  text-decoration:none;
  background-color:#FDB19F;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #FCFBFF;
  border:#FDB19F 1px solid;
  padding: 10px 20px;
  border-radius: 18px;
  margin-top: 20px;
  margin-left: 30px;
  width: 190px;
}

#showcase .button:hover {
  background-color:#FCFBFF;
  color: #FDB19F;
}

#kupi-odmah {
  display: flex;  
  justify-content: center;
  background-color: #FCFBFF;
}

.card {
  padding: 16px;
  margin: 20px 20px;
  background-color: #FCFBFF;
  border: none;
}

#a > div > div > a, #b > div > div > a, #c > div > div > a {
  padding: 5px;
  margin-left: auto;
  margin-top: 10px;
  display: block;
  margin: auto;
  width: 50%;
  background-color: #FCFBFF;
  border: 2px solid #6475FA;
  color: #6475FA;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 10px;
  font-weight: bold;
}

#a > div > div > a:hover, #b > div > div > a:hover, #c > div > div > a:hover {
  background-color: #6475FA;
  border: 2px solid #6475FA;
  color: #FCFBFF;
}

.card-img-top {
  margin-bottom: 20px;
  border: none;
}

@media (max-width: 991px) {
  #showcase {
    padding-bottom: 280px;
  }
  #kupi-odmah {
    flex-direction: column;
    align-items: center;
  }
}