<h1 *ngIf="users.length <= 0" id="noAdded">Nema registrovanih korisnika!</h1>

<section class="cart-section" *ngIf="users.length > 0">
  <div class="container">
      <h2>Registrovani korisnici</h2>
      <div *ngIf="users">
      <table>
      <tr>    
          <th>Ime i prezime</th>
          <th>Email</th>
      </tr>
      <tr *ngFor="let user of users">
          <td>{{ user.fullName }}</td>
          <td>{{ user.email }} RSD</td>
      </tr>
      </table><br>
      </div>
  </div>
</section>

