.cart-section {
    padding: 40px 0;
    margin-bottom: 38px;
    color: #17191B;
    margin: auto;
    width: 50%;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    text-align: center;
    padding: 8px;
}

tr:first-child {
  background: #8B939A;
  color: white;
  font-size: 18px;
}

tr {
    background-color: #CACED1;
}

h2 {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  margin: 5px 0 20px 0;
  color: #17191B;
}

container {
    text-align: center;
    color: #424242;
}



