@import url('https://fonts.googleapis.com/css?family=Poppins');

.jumbotron {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Popins', sans-serif;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #FFF;
}

.jumbotron .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
}

.jumbotron .imgBx  img{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.jumbotron .contentBx {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.jumbotron .contentBx .formBx {
  width: 50%;
}

.jumbotron .contentBx .formBx h2 {
  color: #272121;
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 4px solid #8F7B79;
  display: inline-block;
  letter-spacing: 1px;
}

.jumbotron .contentBx .formBx .inputBx {
  margin-bottom: 20px;
}

.jumbotron .contentBx .formBx .inputBx input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #272121;
  font-size: 16px;
  letter-spacing: 1px;
  color: #272121;
  background: transparent;
  border-radius: 20px;
}

.jumbotron .contentBx .formBx .inputBx input[type="submit"] {
  background-color: #8F7B79;
  color:white;
  border: none;
  font-weight: 600;
  cursor:pointer;
}

.jumbotron .contentBx .formBx .inputBx p {
  color: #272121;
}

.jumbotron .contentBx .formBx .inputBx p a {
  color: #766462;
  font-size: 17px;
}