<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form" (submit)="onSaveProduct()" *ngIf="!isLoading">
        <mat-form-field class="example-full-width">
            <mat-label>Naziv</mat-label>
            <input matInput 
            formControlName="name" required>
            <mat-error *ngIf="form.get('name')!.invalid">Unesite naziv proizvoda.</mat-error>
        </mat-form-field>

        <div>
            <button mat-stroked-button type="button" (click)="filePicker.click()">Izaberite sliku proizvoda</button>
            <input type="file" #filePicker (change)="onImagePicked($event)" required>
        </div>
        <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image')!.valid">
            <img [src]="imagePreview" [alt]="form.value.name">
        </div>
    
        <mat-form-field class="example-full-width">
            <mat-label>Cena</mat-label>
            <input matInput type="number" min="0"
            formControlName="price" required>
            <mat-error *ngIf="form.get('price')!.invalid">Unesite cenu proizvoda.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Kategorija</mat-label>
            <mat-select [(value)]="selectedCategory" formControlName="category" required>
              <mat-option value="svila">Svila</mat-option>
              <mat-option value="hopovi">Hopovi</mat-option>
              <mat-option value="konopci">Konopci</mat-option>
            </mat-select>
        <mat-error *ngIf="form.get('category')!.invalid">Izaberite kategoriju.</mat-error>
        </mat-form-field>

        <button 
        mat-raised-button 
        color="accent" type="submit">Potvrdi</button>
    </form>
</mat-card>
