<div class="bs-example">
    <div class="card" style="width: 300px;">
        <img src="assets/images/Course.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <h5 class="card-title">Alice Liddel</h5>
            <p class="card-text">Alice is a freelance web designer and developer based in London. She is specialized in HTML5, CSS3, JavaScript, Bootstrap, etc.</p>
            <p>12000</p>
            <a href="#" class="btn btn-primary stretched-link">Kupi</a>
        </div>
    </div>
</div>