  <section class="contact">
	  <div class="container">
		  <div class="contactInfo">
			<div class="socialMedia">
				<div class="box2">
					<a class="icon" href="https://www.instagram.com/leteca.zena/" target="blank"><i class="fa fa-instagram" aria-hidden="true"></i>
					</a>
				</div>
				<div class="box2">
					<a class="icon" href="https://www.facebook.com/flying.yoga.flow" target="blank"><i class="fa fa-facebook" aria-hidden="true"></i>
					</a>
				</div>
			</div>
			  <div class="box">
				  <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i>
				  </div>
				  <div class="text">
					  <h3>Adresa</h3>
					  <p>Dalmatinska 16<br>Novi Sad<br>Srbija</p>
				  </div>
			  </div>
			  <div class="box">
				<div class="icon"><i class="fa fa-phone" aria-hidden="true"></i>
				</div>
				<div class="text">
					<h3>Broj telefona</h3>
					<p>+381 64 14 11 040</p>
				</div>
			</div>
			  <div class="box">
				<div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i>
				</div>
				<div class="text">
					<h3>Email</h3>
					<p>aerofitnesnovisad@gmail.com</p>
				</div>
			</div>
		  </div>
		  <div class="contactForm">
			  <form  (submit)="send(contactForm)" #contactForm="ngForm">
				  <h2>Pošalji mi poruku</h2>
				  <mat-form-field>
					  <input type="text" ngModel matInput name="fullName" required #fullNameInput="ngModel">
					  <mat-placeholder class="placeholder">Ime i prezime</mat-placeholder>
					  <mat-error *ngIf="fullNameInput.invalid">Unesite ime i prezime.</mat-error>
				  </mat-form-field>
				  <mat-form-field>
					<input type="email" ngModel matInput name="email" required email #emailInput="ngModel">
					<mat-placeholder class="placeholder">Email</mat-placeholder>
					<mat-error *ngIf="emailInput.invalid">Unesite ispravan email.</mat-error>
				</mat-form-field>
				<mat-form-field>
					<input type="text" ngModel matInput name="subject" required #subjectInput="ngModel">
					<mat-placeholder class="placeholder">Naslov</mat-placeholder>
					<mat-error *ngIf="subjectInput.invalid">Unesite naslov.</mat-error>
				</mat-form-field>
				<mat-form-field>
					<textarea matInput name="message" ngModel cols="20" rows="10" required #messageInput="ngModel"></textarea>
					<mat-placeholder class="placeholder">Poruka</mat-placeholder>
					<mat-error *ngIf="messageInput.invalid">Unesite poruku.</mat-error>
				</mat-form-field>
				<div>
					<button type="submit">Pošalji</button>
				</div>
			  </form>
		  </div>
	  </div>
  </section>
<div class="location">
	<hr>
	<h2 id="how">Kako do nas?</h2>
	<div class="map">
		 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2809.354757402171!2d19.81763131554989!3d45.240618579098964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475b10250fc3166f%3A0xad4aba81d2f239a1!2z0JTQsNC70LzQsNGC0LjQvdGB0LrQsCAxNiwg0J3QvtCy0Lgg0KHQsNC0IDQwNjAxNQ!5e0!3m2!1ssr!2srs!4v1631279568068!5m2!1ssr!2srs" 
		 width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
	</div>
	<hr>
</div>