  <section class="contact">
	  <div class="content">
		  <h2>Kontakt</h2>
	  </div>
	  <div class="container">
		  <div class="contactInfo">
			  <div class="box">
				  <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i>
				  </div>
				  <div class="text">
					  <h3>Adresa</h3>
					  <p>Narodnog fronta 58, stan 14<br>Novi Sad<br>Srbija</p>
				  </div>
			  </div>
			  <div class="box">
				<div class="icon"><i class="fa fa-phone" aria-hidden="true"></i>
				</div>
				<div class="text">
					<h3>Broj telefona</h3>
					<p>+381 64 14 11 040</p>
				</div>
			</div>
			  <div class="box">
				<div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i>
				</div>
				<div class="text">
					<h3>Email</h3>
					<p>ebcentre@gmail.com</p>
				</div>
			</div>
		  </div>
		  <div class="contactForm">
			  <form  (submit)="send(contactForm)" #contactForm="ngForm">
				  <h2>Pošalji mi poruku</h2>
				  <mat-form-field>
					  <input type="text" ngModel matInput name="fullName" required #fullNameInput="ngModel" placeholder="Ime i prezime">
					  <mat-error *ngIf="fullNameInput.invalid">Unesite ime i prezime.</mat-error>
				  </mat-form-field>
				  <mat-form-field>
					<input type="email" ngModel matInput name="email" required email #emailInput="ngModel" placeholder="Email">
					<mat-error *ngIf="emailInput.invalid">Unesite ispravan email.</mat-error>
				</mat-form-field>
				<mat-form-field>
					<input type="text" ngModel matInput name="subject" required #subjectInput="ngModel" placeholder="Naslov">
					<mat-error *ngIf="subjectInput.invalid">Unesite naslov.</mat-error>
				</mat-form-field>
				<mat-form-field>
					<textarea matInput name="message" ngModel cols="20" rows="10" required #messageInput="ngModel" placeholder="Poruka"></textarea>
					<mat-error *ngIf="messageInput.invalid">Unesite poruku.</mat-error>
				</mat-form-field>
				<div>
					<button type="submit">Prijavi se</button>
				</div>
			  </form>
		  </div>
	  </div>
  </section>