@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: 'Poppins', sans-serif;*/
}

.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url('../../assets/images/AboutUs.jpg');
  background-size: cover;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #FDB19F;
  color: #724448;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: ivory;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.3rem;
}

.container .contactInfo .box .text h3 {
   font-weight: 700;
   color: #FDB19F;
   font-size: 20px;
}

.contactForm {
  width: 40%;
  margin-top: 14px;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
}

.contactForm h2 {
  font-size: 30px;
  color: #724448;
  font-weight: 600;
}

.contactForm mat-form-field {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm button {
  width: 100px;
  background: #FDB19F;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 16px;
}

.contactForm button:hover {
  background: #724448;
  color: white;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #724448 !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #724448 !important;
} 

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: #724448 !important;;
}

.placeholder{
  color: #724448;
}

@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }
  .container {
    flex-direction: column;
  }
  .container .contactInfo {
    margin-bottom: 40px;
  }
  .container .contactInfo, .contactForm {
    width: 100%;
  }
}
