  <section class="contact">
	  <div class="content">
		  <h2>Kontakt</h2>
	  </div>
	  <div class="container">
		  <div class="contactInfo">
			  <div class="box">
				  <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i>
				  </div>
				  <div class="text">
					  <h3>Adresa</h3>
					  <p>Narodnog fronta 58, stan 14<br>Novi Sad<br>Srbija</p>
				  </div>
			  </div>
			  <div class="box">
				<div class="icon"><i class="fa fa-phone" aria-hidden="true"></i>
				</div>
				<div class="text">
					<h3>Broj telefona</h3>
					<p>+381 64 14 11 040</p>
				</div>
			</div>
			  <div class="box">
				<div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i>
				</div>
				<div class="text">
					<h3>Email</h3>
					<p>ebcentre@gmail.com</p>
				</div>
			</div>
		  </div>
		  <div class="contactForm">
			  <form action="">
				  <h2>Pošalji mi poruku</h2>
				  <div class="inputBox">
					  <input type="text" name="" id="" required="required">
					  <span>Ime i prezime</span>
				  </div>
				  <div class="inputBox">
					<input type="text" name="" id="" required="required">
					<span>Email</span>
				</div>
				<div class="inputBox">
					<input type="text" name="" id="" required="required">
					<span>Naslov</span>
				</div>
				<div class="inputBox">
					<textarea name="" id="" cols="30" rows="10" required="required"></textarea>
					<span>Poruka</span>
				</div>
				<div class="inputBox">
					<input type="submit" name="" id="" value="Pošalji">
				</div>
			  </form>
		  </div>
	  </div>
  </section>