.example-card {
    max-width: 350px;
    display: inline-block;
    margin: 20px;
    background-color: rgb(240, 239, 235);
    color: #424242;
  }

.priceP {
    text-align: center;
    font-size: 20px;
}

#noAdded {
  text-align: center;
  padding-top: 20px;
}

#main {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.button {
  background-color: #424242;
  color: #dddddd;
}

mat-spinner {
  margin: auto;
}

.workout-image {
  width: 100%;
}

.workout-image img {
  width: 100%;
}

mat-paginator {
  margin-top: 1rem;
}

input {
  margin-top: 80px;
  margin-left: 20px;
}

.container {
  text-align: center;
  color: #424242;
}

.container span{
  font-size: 18px;
  font-weight: 600;
}

.btn {
  background: #727171;
  color: white;
  border-radius: 50%;
  font-size: 16px;
  margin: 0 9px;
  padding: 2px 8px;
}

.cart-btn {
  margin-left: 90px;
  margin-top: 16px;
  background: #727171;
  color: white;
  border-radius: 4px;
  border: 1px solid #727171;
  padding: 4px 10px;
  font-size: 18px;
  font-weight: 500;
  transition: 0.4s;
}

.cart-btn:hover {
  background: transparent;
  color: #424242;
}