.example-card {
  width: 400px;
  max-height: 600px;
  display: inline-block;
  margin: 40px 20px;
  background-color: transparent;
  color: #FFF;
  border: 1px solid #FFF;
}

.priceP {
  text-align: center;
  font-size: 24px;
  padding-top: 14px;
  color: #FFF;
  font-family: 'Suranna', serif;
}

#noAdded {
  text-align: center;
  padding-top: 20px;
}

#main {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 25px;
  line-height: 2rem;
  font-family: 'Bentham', serif;
}

.button {
  background-color: #9AB6FC;
  color: #FFF;
}

mat-spinner {
  margin: auto;
}

.flip-box {
  background-color: transparent;
  width: 370px;
  height: 360px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.flip-box-back {
  background-color: #F0F1F2;
  color: #010421;
  transform: rotateY(180deg);
}

.flip-box-back p {
  margin: 30px;  
  font-size: 16px;
  text-align: justify;
  line-height: 1.6em;
}

.flip-box-front img {
  width: 370px;
  height: 360px;
}

mat-paginator {
  margin-top: 1rem;
}

.buy:hover {
  background: #7B5EFF;
  color: #FFF;
} 

/* centriranje */
.buy {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 45px;
  width: 150px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: #ffffff;
  background-color: #b1aaee;
  cursor: pointer;
  outline: none;
  text-align: center;
  padding-top: 3.5%;
}

mat-card-actions {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* centriranje */
#center {
  background: url('../../../assets/images/AboutUs.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}