<section>
  <div class="imgBx">
    <img src="assets/images/Registration.jpg">
  </div>
  <div class="contentBx">
    <div class="formBx">
      <h2>Registruj se</h2>
      <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
        <div class="inputBx">
          <span>E-mail</span>
          <input name="email" ngModel type="email" #emailInput="ngModel" required email>
        </div >
        <div class="inputBx">
          <span>Lozinka</span>
          <input type="password" name="password" ngModel matInput  #passwordInput="ngModel" required>
        </div>
        <div class="inputBx">
          <input type="submit" *ngIf="!isLoading" value="Registruj se" name="">
        </div >
      </form>
    </div>
  </div>
</section>
  
