<div class="bs-example">
  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
      <a href="#" class="navbar-brand">
          <img src="/examples/images/logo.svg" height="28" alt="CoolBrand">
      </a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">
              <a href="#" class="nav-item nav-link active">Početna</a>
              <a href="#" class="nav-item nav-link">Kursevi</a>
              <a href="#" class="nav-item nav-link">Online prodavnica</a>
              <a href="#" class="nav-item nav-link" tabindex="-1">O meni</a>
              <a href="#" class="nav-item nav-link" tabindex="-1">Kontakt</a>
          </div>
          <div class="navbar-nav ml-auto">
              <a href="#" class="nav-item nav-link">Prijavi se</a>
          </div>
      </div>
  </nav>
</div>
