<div class="bs-example">
  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
      <a href="#" class="navbar-brand">
          <img src="/examples/images/logo.svg" height="28" alt="CoolBrand">
      </a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">
              <a routerLink="/" class="nav-item nav-link">Početna</a>
              <a routerLink="/kursevi" class="nav-item nav-link">Kursevi</a>
              <a routerLink="/dodaj-kurs" class="nav-item nav-link">Dodaj kurs</a>
              <a routerLink="/treninzi" class="nav-item nav-link">Treninzi</a>
              <a routerLink="/dodaj-trening" class="nav-item nav-link">Dodaj trening</a>
              <a routerLink="/online-prodavnica" class="nav-item nav-link">Online prodavnica</a>
              <a routerLink="/dodaj-proizvod" class="nav-item nav-link">Dodaj proizvod</a>
              <a routerLink="/o-meni" class="nav-item nav-link" tabindex="-1">O meni</a>
              <a routerLink="/kontakt" class="nav-item nav-link" tabindex="-1">Kontakt</a>
          </div>
          <div class="navbar-nav ml-auto">
              <a routerLink="/prijava" class="nav-item nav-link">Prijavi se</a>
          </div>
          <div class="navbar-nav">
            <a routerLink="/registracija" class="nav-item nav-link">Registruj se</a>
        </div>
      </div>
  </nav>
</div>
