<!-- Footer -->
<footer class="text-center text-lg-start text-secondary" style="background-color: rgb(218, 192, 193);">
  <!-- Section: Links  -->
  <section class="f1">
  <!-- Grid container -->
    <div class="container text-center text-md-start">
      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div id="div" class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">   
          <i> <img src="assets/images/Logo.png" height="240" alt="Logo"> </i> <br><br><br>
        </div>
        <!-- Grid column -->

                <!-- Grid column -->
                <div id="div" class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 pt-2">
                  <!-- Links -->
                  <h2 class="text-uppercase fw-bold mb-4">
                    Kontakt
                  </h2>
                  <p><i class="fa fa-home me-3"></i> Narodnog fronta 58, Novi Sad</p>
                  <p>
                    <i class="fa fa-envelope me-3"></i>
                    aerofitnesnovisad@gmail.com
                  </p>
                  <p><i class="fa fa-phone me-3"></i> +381 64 14 11 040</p>
                  <div id="buttons">
                    <a type="button" href="/registracija">
                      Registruj se
                    </a> 
                    <a type="button" href="/prijava" id="b1">
                      Prijavi se
                    </a>
                  </div>
                </div>
                <!-- Grid column -->

        <!-- Grid column -->
        <div id="div" class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 pt-2">
          <!-- Links -->
          <h2 class="text-uppercase fw-bold mb-4">
            Korisni linkovi
          </h2>
          <p>
            <a routerLink="/" class="text-reset">Početna</a>
          </p>
          <p>
            <a routerLink="/online-prodavnica" class="text-reset">Proizvodi</a>
          </p>
          <p>
            <a routerLink="/treninzi" class="text-reset">Treninzi</a>
          </p>
          <p>
            <a routerLink="/kursevi" class="text-reset">Radionice</a>
          </p>
          <p>
            <a href="/kontakt" class="text-reset">Kontakt</a>
          </p>
          <p>
            <a href="/o-meni" class="text-reset">O nama</a>
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
</footer>
<!-- Footer -->

<footer class="text-center text-secondary" 
  style="background-color: rgb(218, 192, 193)">
    <!-- Grid container -->
    <div class="container pt-0 pb-0">
      <!-- Section: Social media -->
      <h2 id="social">Pronađite me na društvenim mrežama</h2>
      <section class="mb-5">
        <!-- Facebook -->
        <a class="social" href="https://www.facebook.com/flying.yoga.flow" target="blank" role="button"
          ><i class="fa fa-facebook-square"></i
        ></a>
  
        <!-- Instagram -->
        <a class="social" href="https://www.instagram.com/leteca.zena/" target="blank" role="button"
          ><i class="fa fa-instagram"></i
        ></a>

        <a class="social" href="https://www.youtube.com/watch?v=kC2h5VSwCPA" target="blank" role="button"
        ><i class="fa fa-youtube-play"></i
      ></a>
  
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-2" style="background: #CEACAE">
      © Copyright 2021 Aerofit. Sva prava rezervisana.
    </div>
    <!-- Copyright -->
  </footer>
