<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-warning">
  <!-- Section: Links  -->
  <section class="f1">
  <!-- Grid container -->
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">

        <!-- Grid column -->
        <div id="div" class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h2 class="text-uppercase fw-bold mb-4">
            Aerofit
          </h2>          
        </div>
        <!-- Grid column -->

                <!-- Grid column -->
                <div id="div" class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                  <!-- Links -->
                  <h2 class="text-uppercase fw-bold mb-4">
                    Kontakt
                  </h2>
                  <p><i class="fa fa-home me-3"></i> Narodnog fronta 58, Novi Sad</p>
                  <p>
                    <i class="fa fa-envelope me-3"></i>
                    ebcentre@gmail.com
                  </p>
                  <p><i class="fa fa-phone me-3"></i> +381 64 14 11 040</p>
                  
                </div>
                <!-- Grid column -->

        <!-- Grid column -->
        <div id="div" class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h2 class="text-uppercase fw-bold mb-4">
            Korisni linkovi
          </h2>
          <p>
            <a routerLink="/" class="text-reset">Početna</a>
          </p>
          <p>
            <a routerLink="/online-prodavnica" class="text-reset">Proizvodi</a>
          </p>
          <p>
            <a routerLink="/treninzi" class="text-reset">Treninzi</a>
          </p>
          <p>
            <a routerLink="/kursevi" class="text-reset">Radionice</a>
          </p>
          <p>
            <a href="/kontakt" class="text-reset">Kontakt</a>
          </p>
          <p>
            <a href="/o-meni" class="text-reset">O nama</a>
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
</footer>
<!-- Footer -->

<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fa fa-facebook"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fa fa-envelope-o"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fa fa-instagram"></i
        ></a>
  
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © Copyright 2021 by Aerofit. All rights reserved.
    </div>
    <!-- Copyright -->
  </footer>
