a {
    text-decoration: none;
}

#i {
   font-size: 35px;
}

#p {
    font-size: 17px;
}

#div {
    margin-top: 20px;
}

footer {
    color: #49494C;
}

#buttons {
    display: flex;
    margin-top: 60px;
    justify-content: center;
}

#buttons a {
    margin-bottom: 16px;
    color: ivory;
    background: #B4A4FB;
    border-radius: 18px;
    padding: 12px 18px;
}

#buttons a:hover {
    color: #B4A4FB;
    background: ivory;
}

#b1 {
    margin-left: 10px;
}

i img {
    margin-top: 30px;
}

#social {
    color: #49494C;
    padding-bottom: 30px;
}

.social {
    color: ivory;
    background: #B4A4FB;
    border-radius: 34px;
    padding: 14px 18px;
    font-size: 22px;
    margin-left: 16px;
}

.social:hover {
    color: #B4A4FB;
    background: ivory;
}