<section class="cart-section">
    <div class="container">
        <h2>Vaša korpa</h2>
        <table>
        <tr>
            <th>Proizvod</th>
            <th>Cena</th>
            <th>Količina</th>
            <th>Suma</th>
            <th>Ukloni proizvod</th>
        </tr>
        <tr>
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td>Germany</td>
        </tr>
        </table><br>
        <p>Ukupno: </p>
        <button class="remove"><i class="fa fa-trash-o"></i> Isprazni korpu</button>
    </div>
</section>
