.cart-section {
    padding: 40px 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

.remove {
    background-color: rgb(230, 36, 36);
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    color: white;
}