<div class="form-group">
  <input type="text" class="form-control" placeholder="Pretraga"
          style="width:300px" [(ngModel)]="searchTerm" />
</div>

<mat-card class="example-card" *ngFor="let product of filteredProducts">
    <mat-card-content>
        <p id="name">
            {{ product.name }}
        </p>
    </mat-card-content>
    <mat-card-content>
      <div class="product-image">
        <img [src]="product.imagePath" [alt]="product.name">
      </div>
    </mat-card-content>

    <mat-card-content>
      <p class="par">
        {{ product.price }} RSD
      </p>
    </mat-card-content>

    <div class="container">
      <button type="button" class="btn" (click)="dec(product)"><i class="fa fa-minus"></i></button>
      <span>{{ product.quantity }}</span>
      <button type="button" class="btn" (click)="inc(product)"><i class="fa fa-plus"></i></button>      
    </div>
    <p id="stock">Dostupna količina: {{ product.stock }}</p>
    <button type="button" class="cart-btn" (click)="addToCart(product)">Dodaj u korpu</button>

    <mat-card-actions *ngIf="userIsAuthenticated">
      <a mat-button color="accent" class="button" [routerLink]="['/izmeni-proizvod', product._id]">Uredi</a>
      <button mat-button color="accent" class="button" (click)="onDelete(product._id)">Obriši</button>
    </mat-card-actions>
</mat-card>

<mat-paginator [length]="totalProducts" [pageSize]="productsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
*ngIf="products.length > 0"></mat-paginator>

<p *ngIf="products.length <= 0" id="noAdded">No product added yet!</p>

